<div class="container-fluid">

    <div class="row d-flex align-items-center bg-cadastro">
        <div class="col-md-6 d-flex justify-content-center">
            <img src="https://i.imgur.com/jhi6Z3Q.png" width="500px" height="500px" alt="">
        </div>

        <div class="col-md-6 mt-5 mb-5 ">
            <div class="row  justify-content-center">
                <div class="col-md-10 base-cadastro">
                    <div class=" d-flex justify-content-between">

                        <!-- nome do formulario, pra não confundir -->
                        <h1 class="">Cadastro</h1>
                        <img src="https://i.imgur.com/9fYXzjA.png" alt="Logo do site" width="150px">
                    </div>

                    <div class="form-grop">
                        <label for="nome">Nome</label>
                        <input [(ngModel)]='user.nome' class="form-control mb-3" type="text" name="nome" id="nome"
                            placeholder="Seu nome">
                    </div>

                    <div class="form-grop">
                        <label for="usuario">Usuario</label>
                        <input [(ngModel)]='user.usuario' class="form-control mb-3" type="text" name="usuario"
                            id="usuario" placeholder="Seu usuário">
                    </div>

                    <div class="form-grop">
                        <label for="email">E-mail</label>
                        <input [(ngModel)]='user.email' class="form-control mb-3" type="email" name="email"
                            id="email" placeholder="name@example.com">
                    </div>

                    <div class="form-grop">
                        <label for="email">Leciona</label>
                        <input [(ngModel)]='user.profissao' class="form-control mb-3" type="text" name="profissao"
                            id="profissao" placeholder="Biologia, Matemática, Física">
                    </div>


                    <div class="form-grop">
                        <label for="foto">Link da Foto</label>
                        <input [(ngModel)]='user.foto' class="form-control mb-3" type="text" name="foto" id="foto"
                            placeholder="Link da sua foto">
                    </div>

                    <div class="form-grop">
                        <label for="senha">Senha</label>
                        <input (input)='confirmSenha($event)' class="form-control mb-3" type="password" name="senha"
                            id="senha" placeholder="Sua Senha">
                    </div>

                    <div class="form-grop">
                        <label for="confirmSenha">Confirmar Senha</label>
                        <input [(ngModel)]='user.senha' class="form-control mb-3" type="password" name="confirmSenha"
                            id="confirmSenha" placeholder="Confirme sua senha">
                    </div>
                    <div class="d-flex justify-content-center mt-3">

                        <button type="submit" class="btn btn-azul me-4 text-white" routerLink='/login'>Cancelar</button>
                        <button type="submit" class="btn btn-amarelo ms-4 text-white"
                            (click)='cadastrar()'>Cadastrar</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>