.base-cadastro{
    background-color: #ffffff;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0px 4px 7px 0px rgba(59, 45, 45, 0.50);
}

#img-bg{
    background-image: url("https://i.imgur.com/6mHc3I3.png");
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-azul{
    background-color: #006BA6;
    border-radius: 30px;
    box-shadow: 0px 4px 7px 0px rgba(59, 45, 45, 0.50);
}
.btn-amarelo{
    background-color: #FF9C05;
    border-radius: 30px;
    box-shadow: 0px 4px 7px 0px rgba(59, 45, 45, 0.50);
}

.bg-cadastro{
    background-color: #FF9C05;
}