<div class="container-fluid bg-light mt-5 mb-5">
<!--LINHA 1-->
    <div class="row d-flex align-items-center mt-5">
        <h1 class="text-center">Magister Network</h1>
    </div>

<!--LINHA 2-->
    <div class="row d-flex align-items-center mt-5">
        <div class="col-md-2">
        </div>
        
        <div id="esquerda" class="col-md-2 justify-content-center">

            <div class="row d-flex align-items-center">
                <img class="img" src="https://i.imgur.com/2SMMVfM.png">
            </div>
           
            <div class="row d-flex align-items-center">
                <p class="textcard"><b>Troca de muitas experiências</b></p>
            </div>

        </div>

        <div class="col-md-1">
        </div>
        
        <div id="centro" class="col-md-2 justify-content-center">

            <div class="row d-flex align-items-center">
                <img class="img" src="https://i.imgur.com/aT3evQ4.png">
            </div>
           
            <div class="row d-flex align-items-center">
                <p class="textcard"><b>Conectividade e engajamento</b></p>
            </div>
        </div>

        <div class="col-md-1">
        </div>

        <div id="direita" class="col-md-2 justify-content-center">

            <div class="row d-flex align-items-center">
                <img class="img" src="https://i.imgur.com/pYClOqS.png">
            </div>
           
            <div class="row d-flex align-items-center">
                <p class="textcard"><b>Insights e <br> inspirações</b></p>
            </div>
        </div>

        <div class="col-md-2">
        </div>
    </div>

<!--LINHA 3-->
    <div class="row d-flex align-items-center mt-5">

        <div class="col-md-1">
        </div>
        
        <div class="col-md-5 d-flex justify-content-center">
            <img src="https://i.imgur.com/pesGajh.png" alt="" height="500px" width="500px">
        </div>
        
        <div class="col-md-5">
            <div class="row d-flex me-auto">
                <div class="col-md-10">
                    <p class="textcard">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Purus sit amet luctus venenatis lectus. Egestas sed sed risus pretium quam vulputate dignissim suspendisse in. Interdum varius sit amet mattis. Viverra accumsan in nisl nisi scelerisque. Consectetur adipiscing elit ut aliquam purus sit amet luctus.Egestas sed sed risus pretium quam vulputate dignissim suspendisse in. Interdum varius sit amet mattis. Viverra accumsan in nisl nisi scelerisque. Consectetur adipiscing elit ut aliquam purus sit amet luctus. </p>
                </div>
            </div>
        </div>
        
        <div class="col-md-1">
        </div>

    </div>
    
</div>

