<div class="container-fluid mt-5 mb-5">

    <div class="row bg-white d-flex align-items-center">
        
        <div class="col-md-6 d-flex justify-content-center">
            <img src="https://i.imgur.com/pesGajh.png" alt="" height="500px" width="500px">
        </div>
        
        <div class="col-md-6">

            <div class="row d-flex me-auto">
                <div class="col-md-9">
                    <h5 class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Purus sit amet luctus venenatis lectus. Egestas sed sed risus pretium quam vulputate dignissim suspendisse in. Interdum varius sit amet mattis. Viverra accumsan in nisl nisi scelerisque. Consectetur adipiscing elit ut aliquam purus sit amet luctus.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Purus sit amet luctus venenatis lectus. Egestas sed sed risus pretium quam vulputate dignissim suspendisse in. Interdum varius sit amet mattis. Viverra accumsan in nisl nisi scelerisque. Consectetur adipiscing elit ut aliquam purus sit amet luctus.</h5>
                </div>
            </div>
        </div>

    </div>
    
</div>

