<div class="container-fluid bg-light mt-5 mb-5" id="magister">
    <!--LINHA 1-->
    <div class="row d-flex align-items-center mt-5">
        <h2 class="text-center mt-5">Magister Network</h2>
    </div>

    <!--LINHA 2-->
    <div class="row d-flex align-items-center mt-5 mb-5">
        <div class="col-md-2">
        </div>

        <div id="esquerda" class="col-md-2 justify-content-center">

            <div class="row d-flex align-items-center ">
                <img class="img" src="https://i.imgur.com/2SMMVfM.png">
            </div>

            <div class="row d-flex align-items-center ">
                <p class="textcard"><b>Troca de muitas experiências</b></p>
            </div>

        </div>

        <div class="col-md-1">
        </div>

        <div id="centro" class="col-md-2 justify-content-center">

            <div class="row d-flex align-items-center">
                <img class="img" src="https://i.imgur.com/aT3evQ4.png">
            </div>

            <div class="row d-flex align-items-center">
                <p class="textcard"><b>Conectividade e engajamento</b></p>
            </div>
        </div>

        <div class="col-md-1">
        </div>

        <div id="direita" class="col-md-2 justify-content-center">

            <div class="row d-flex align-items-center">
                <img class="img" src="https://i.imgur.com/pYClOqS.png">
            </div>

            <div class="row d-flex align-items-center">
                <p class="textcard"><b>Insights e <br> inspirações</b></p>
            </div>
        </div>

        <div class="col-md-2">
        </div>
    </div>

    <!--LINHA 3-->
    <div class="row d-flex align-items-center mt-5">

        <div class="col-md-1">
        </div>

        <div class="col-md-5 d-flex justify-content-center">
            <img class="img-fluid" src="https://i.imgur.com/pesGajh.png" alt="" height="500px" width="500px">
        </div>

        <div class="col-md-5">
            <div class="row d-flex me-auto">
                <div class="col-md-10">
                    <p class="textcard"> O projeto Magister é uma rede social voltada para e exclusivamente aos
                        professores de todos os ensinos e matérias. O principal objetivo é aumentar a interação, troca
                        de experiências e engajamento entre os professores, visando um objetivo maior que é a educação
                        de qualidade para todos (ODS-4 da ONU). Acreditamos que a educação é a chave para todas a
                        mudanças e transformações tanto individuais quanto coletivas e tendo isso em mente o projeto
                        Magister se mostra como um agente catalizador da integração e crescimento do movimento dos
                        professores e consequentemente do crescimento e da transformação social como um todo.</p>

                </div>
            </div>
        </div>

        <div class="col-md-1">
        </div>

    </div>

</div>