#img-bg{
    background-image: url('https://i.imgur.com/xlHiUDC.jpg');

    min-height: 730px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#espace {
    margin-top: 7%;
}

#centro{
    background-color: white;
    border-radius: 5%;
    height: 570px;
}
button{
    background-color:#00E7D7;
}