#img-bg{
    background-image: url('https://i.imgur.com/dZslT8F.jpg');

    min-height: 730px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#espace {
    margin-top: 7%;
}

#centro{
    background-color: white;
    border-radius: 5%;
    height: 570px;
}
.btn-entrar{
    background-color: #FF9C05;
    border-radius: 30px;
    box-shadow: 0px 4px 7px 0px rgba(59, 45, 45, 0.50);
    width: 100px;
}