<nav class="navbar navbar-expand-lg navbar-light bg-menu fixed-top">
  <div class="container-fluid">
    <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2  mb-lg-0 d-flex align-items-center">
        <li class="nav-item active">
          <img src="https://i.imgur.com/R7U3hoc.png" alt="imagem user" width="90px" height="40px"
            class="rounded-circle mb-1 ms-0">
        </li>
        <li class="nav-item ps-3">
          <p class="m-0 fw-bold text-white fs-16">Olá, {{nome}}</p>
        </li>

      </ul>
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0 d-flex align-items-center">
        <li class="nav-item ps-3">
          <a class="m-0 fw-bold text-white fs-16" href="" (click)='sair()'>Sair <i class="fa fa-sign-out"
              aria-hidden="true"></i></a>
        </li>
      </ul>

    </div>
  </div>
</nav>