
<nav class="navbar navbar-expand-lg navbar-dark bg-menu fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#inicio">
        <img src="https://i.imgur.com/R7U3hoc.png" alt="" width="100px" height="50px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#inicio">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#ods">ODS-ONU</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#magister">Magister</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#devs">4Devs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#integrantes">Integrantes</a>
          </li>
          
        </ul>
        <form class="d-flex">
         
          <button class="btn btn-light bt-logar me-2" type="submit" routerLink='/login'>Logar</button>
          <button class="btn bt-cadastrar" type="submit" routerLink='/cadastro'>Cadastre-se</button>
        </form>
      </div>
    </div>
  </nav>

