<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center ">Atulizar Tema</h1>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="form-group">
                <label for="descricaoTema">Descrição</label>
                <input type="text" class="form-control" id="decricao" [(ngModel)]='tema.disciplinaTema'>
            </div>
            <div class="d-flex justify-content-center mt-2">
                <button class="btn btn-amarelo text-white me-4" routerLink='/tema'>Cancelar</button>
                <button class="btn btn-azul text-white" (click)='atualizar()'>Atulizar</button>
            </div>
        </div>
    </div>
</div>