<div class="container mt-2 " id="devs">
    <div class="row d-flex bg-amarelo justify-content-around align-items-center img-fluid mb-5" id="quadro-amarelo">


        <div class="row mb-2">
            <h2 class="text-center">4Devs</h2>
        </div>


        <div class="row justify-content-center d-flex align-items-center pb-2 ">

            <div class="col-md-6 d-flex justify-content-center ">

                <p class="m-lg-3 text-center font-tam p-1 ajuste-margin">Nosso time de desenvolvimento é formado por quatro integrantes juntamente disciplinados e comprometidos. Desenvolvemos o trabalho em equipe e capacidade de resolução de problemas de forma rápida e objetiva para entregar os melhores resultados.</p>
            </div>
                    
        
            <div class="col-md-6 justify-content-center d-flex" >
                <img class="img-fluid " src="https://i.imgur.com/xBro5gv.png" alt="logo do time fourDevs">
            </div>
            
        </div>
        

    </div>
</div>
