<div class="container-fluid bg-light">
  <!--MENU-->
  <div class="row bg-light d-flex align-items-end">
    <div class="col-md-3 d-flex justify-content-center mb-2">
      <img class="img-fluid p-3" src="https://i.imgur.com/9fYXzjA.png
            " alt="" height="250px" width="250px">
    </div>
    <div class="col-md-6 d-flex justify-content-between">
      <button class="btn btn-azul text-light " data-bs-toggle="modal" data-bs-target="#novaPostagem">Nova
        Postagem</button>
      <button class="btn btn-azul text-light" routerLink='/tema'>Adicionar Tema</button>
      <button class="btn btn-azul text-light">Ordenar</button>
    </div>
    <div class="col-md-3"></div>
  </div>
  <!--MENU-->
  <div class="row mt-1 bg-light">


    <!--Card ESQUERDA-->
    <div class="col-md-3 padding">
      <div class="row align-items-start d-flex justify-content-center">
        <div class="card">
          <div class="row mt-3">
            <img src="{{foto}}" class="card-img-top img-fluid tam mb-2" alt="..." height="50px" width="50px" style="border-radius: 50%;">
          </div>
          <div class="card-body">
            <h5 class="card-title text-center mb-2"> {{nome}} </h5>

            <p class="d-flex justify-content-center">{{email}} </p>

          </div>
        </div>

      </div>
      <div class="row d-flex justify-content-center mt-3">

        <button class="btn btn-azul text-light justify-content-center align-items-center d-flex" 
        [routerLink]="['/user-edit', idUser]">
          <i class="fa fa-pencil-square-o" aria-hidden="true"> </i>
          <p class="text-white text-center mt-3 ">Editar Perfil</p>

          
        </button>
      </div>
    </div>

    <!--Corpo CENTRO-->
    <div class="col-md-6">
      <div class="container mb-5 mt-5" id="postagem">

        <nav>
          <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">

            <button class="nav-link active text-secondary fw-bold" id="nav-todasPostagens-tab" data-bs-toggle="tab"
              data-bs-target="#nav-todasPostagens" type="button" role="tab" aria-controls="nav-todasPostagens"
              aria-selected="true">
              Todas as Postagens
            </button>

            <button (click)='findByIdUser()' class="nav-link text-secondary fw-bold" id="nav-minhasPostagens-tab"
              data-bs-toggle="tab" data-bs-target="#nav-minhasPostagens" type="button" role="tab"
              aria-controls="nav-minhasPostagens" aria-selected="false">
              Minhas Postagens
            </button>

            <button class="nav-link text-secondary fw-bold" id="nav-postagemTema-tab" data-bs-toggle="tab"
              data-bs-target="#nav-postagemTema" type="button" role="tab" aria-controls="nav-postagemTema"
              aria-selected="false">
              Postagem por tema
            </button>

          </div>
        </nav>

        <!--TODAS AS POSTAGENS-->
        <div class="tab-content" id="nav-tabContent">

          <div class="tab-pane fade show active" id="nav-todasPostagens" role="tabpanel"
            aria-labelledby="nav-todasPostagens-tab">

            <div class="card-columns">
                
              <div class="card-centro mt-5" *ngFor='let item of listaPostagens | orderBy : key : reverse'>
             
                <div class="row col-md-6">

                    <div class="col-md-2">
                    </div>

                    <div class="col-md-3">
                        <img src="{{item.usuario.foto}}" alt="imagem user" width="70px" height="70px"
                         class=" rounded-circle mt-4">
                    </div>

                    <div class="col-md-6 card-body pt-4">
                        <h5 class="tx"><b>{{item.usuario.nome}}</b></h5>
                        <h5 class="tx">Tema: {{item.tema.disciplinaTema}}</h5>
                        <h5 class="tx text-muted">{{item.dataPostagem | date: 'dd/MM/yyyy'}} às
                            {{item.dataPostagem | date: 'HH:mm'}}</h5>
                    </div>

                </div>

                <div class="card-body text-center bg-light me-3 ms-3">

                  <h4 class="card-title mt-4 mb-2"><b>{{item.titulo}}</b></h4>
                  <img src="{{item.midia}}" width="100%" height="300px">
                  <p class="card-text mt-4 mb-4">{{item.descricao}}</p>

                </div>

                <div class="d-flex col-md-12 d-flex justify-content-center">

                    <a href="" target="_blank" class="p-3">
                      <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    </a>

                    <a href="" target="_blank" class="p-3">
                      <i class="fa fa-commenting" aria-hidden="true"></i> 
                    </a>
              
                    <a href="" target="_blank" class="p-3">
                      <i class="fa fa-share" aria-hidden="true"></i>
                    </a>

                </div>

              </div>

              
            </div>

        </div>
        <!--TODAS AS POSTAGENS-->

        <!--MINHAS POSTAGENS-->
          <div class="tab-pane fade" id="nav-minhasPostagens" role="tabpanel" aria-labelledby="nav-minhasPostagens-tab">

            <div class="card-columns">

              <div class="card-centro mt-5" *ngFor='let item of user.postagem | orderBy : key : reverse'>
                
                <div class="row col-md-12">

                    <div class="col-md-1">
                    </div>
 
                    <div class="col-md-7 card-body pt-5">
                        <h5 class="tx">Tema: {{item.tema.disciplinaTema}}</h5>
                        <h5 class="tx text-muted">{{item.dataPostagem | date: 'dd/MM/yyyy'}} às
                            {{item.dataPostagem | date: 'HH:mm'}}</h5>
                    </div>
                    <div class="col-md-4 pt-5 d-flex justify-content-center">
                        <a [routerLink]="['/postagem-edit', item.id]" class="ms-5" href="">
                            <i class="fa fa-pencil text-primary" aria-hidden="true"></i>
                        </a>
                        <a [routerLink]="['/postagem-delete', item.id]" href="">
                            <i class="fa fa-trash-o text-danger" aria-hidden="true"></i>
                        </a>
                    </div>

                </div>

                <div class="card-body text-center bg-light me-3 ms-3">

                  <h4 class="card-title mt-4 mb-2"><b>{{item.titulo}}</b></h4>
                  <img src="{{item.midia}}" width="100%" height="300px">
                  <p class="card-text mt-4 mb-4">{{item.descricao}}</p>

                </div>

                <div class="d-flex col-md-12 d-flex justify-content-center">

                    <a href="" target="_blank" class="p-3">
                      <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    </a>

                    <a href="" target="_blank" class="p-3">
                      <i class="fa fa-commenting" aria-hidden="true"></i> 
                    </a>
              
                    <a href="" target="_blank" class="p-3">
                      <i class="fa fa-share" aria-hidden="true"></i>
                    </a>

                </div>

              </div>

            </div>
          </div>
          <!--MINHAS POSTAGENS-->

          <!--POSTAGEM POR TEMA-->
          <div class="tab-pane fade" id="nav-postagemTema" role="tabpanel" aria-labelledby="nav-postagemTema-tab">

            <div class="card-columns" *ngFor='let tema of listaTemas | orderBy : key : reverse'>
              <div class="card-centro mt-5" *ngFor='let item of tema.postagem'>
                
                <!-- <div class="card-body">
                  <h5 class="card-title m-0">{{item.titulo}}</h5>
                  <p class="card-text mt-3">{{item.descricao}}</p>
                  <p class="card-text"><small class="text-muted">{{item.dataPostagem | date: 'dd/MM/yyyy'}} às
                      {{item.dataPostagem | date: 'HH:mm'}}</small></p>
                  <p class="card-text"><small class="text-muted">
                      by: {{item.usuario.nome}}
                    </small></p>

                </div> -->


                <div class="row col-md-6">

                    <div class="col-md-2">
                    </div>

                    <div class="col-md-3 mb-4">
                        <img src="{{item.usuario.foto}}" alt="imagem user" width="70px" height="70px"
                         class=" rounded-circle mt-4">
                    </div>



                    <div class="col-md-6 card-body pt-4">
                        <h5 class="tx txtNome"><b>{{item.usuario.nome}}</b></h5>
                        <h5 class="tx text-muted">{{item.dataPostagem | date: 'dd/MM/yyyy'}} às
                            {{item.dataPostagem | date: 'HH:mm'}}</h5>
                    </div>


                </div>

                <div class="card-body text-center bg-light me-3 ms-3">

                  <h4 class="card-title mt-4 mb-2"><b>{{item.titulo}}</b></h4>
                  <img src="{{item.midia}}" width="100%" height="300px">
                  <p class="card-text mt-4 mb-4">{{item.descricao}}</p>

                </div>

                <div class="d-flex col-md-12 d-flex justify-content-center">

                    <a href="" target="_blank" class="p-3">
                      <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    </a>

                    <a href="" target="_blank" class="p-3">
                      <i class="fa fa-commenting" aria-hidden="true"></i> 
                    </a>
              
                    <a href="" target="_blank" class="p-3">
                      <i class="fa fa-share" aria-hidden="true"></i>
                    </a>

                </div>



              </div>

            </div>

          </div>
          <!--POSTAGEM POR TEMA-->
        </div>
      </div>


    </div>

    <!--/Corpo CENTRO-->

    <!--Amigos DIREITA-->

    <div class="col-md-3 padding">
      <div class="row align-items-start d-flex justify-content-center">
        <div class="card pt-3">
          
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Temas já cadastrados</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let tema of listaTemas'>
                <td>{{tema.disciplinaTema}}</td>
              </tr>
            </tbody>
          </table>

          

        </div>

      </div>
    </div>

  </div>

</div>

<!-- Modal Nova Postagem -->

<div class="modal fade" id="novaPostagem" tabindex="-1" aria-labelledby="novaPostagem" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tituloModalCentralizado">Nova Postagem</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="forma-group">
          <label for="titulo">Título</label>
          <input [(ngModel)]='postagem.titulo' type="text" class="form-control" id="titulo"
            placeholder="Digite o titulo">
        </div>

        <div class="forma-group">
          <label for="texto">Texto</label>
          <textarea [(ngModel)]='postagem.descricao' class="form-control" name="texto" id="texto" rows="3"></textarea>
        </div>

        <div class="forma-group">
          <label for="titulo">Mídia</label>
          <input [(ngModel)]='postagem.midia' type="text" class="form-control" id="midia"
            placeholder="Informe o link da midia">
        </div>

        <div class="forma-group">
          <label for="tema">Escolha um tema ou <a routerLink="/tema" data-bs-dismiss="modal">Cadastre um
              novo</a></label>
          <select class="form-control" name="tema" id="tema" [(ngModel)]='idTema' (change)='findByIdTema()'>
            <option *ngFor='let item of listaTemas' value="{{item.id}}">
              {{item.disciplinaTema}}
            </option>
          </select>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-amarelo" data-bs-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-azul2" (click)='publicar()' data-bs-dismiss="modal">Publicar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Nova Postagem -->
