
/*Botões Centro:*/

.btn-azul{
    background-color: #006BA6;
    border-radius: 30px;
    box-shadow: 0px 4px 7px 0px rgba(51, 39, 39, 0.5);
    font-weight: 550;
    font-size: 20px;
    width: 190px;
    height: 65px;
}


.btn-amarelo{
    background-color: #FF9C05;
    border-radius: 30px;
    box-shadow: 0px 4px 7px 0px rgba(59, 45, 45, 0.50);
    color: #ffffff;
}

.btn-azul2{
    background-color: #006BA6;
    border-radius: 30px;
    box-shadow: 0px 4px 7px 0px rgba(59, 45, 45, 0.50);
    color: #ffffff;
}

.fundo-integrantes{
    background-image: url('https://i.imgur.com/memoGWv.jpg');
    min-height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* .fa{
    font-size: 25pt;
    padding: 10px;
    color:rgb(255, 255, 255);
} */

/* Postagens: */
.card-centro{
    border: none;
    background-color: #E5E5E5;
    border-radius: 30px;
    box-shadow: 0px 4px 7px 0px rgba(59, 45, 45, 0.50);
    font-weight: 500;
    font-size: 20px;
    box-sizing: border-box;
    word-wrap: break-word;
}


.tam2{
    height: 70px;
    width: 70px;
}

.card-body{
    border-radius: 30px;
}

.tx{
    font-size: 15px;
}

.fa{
    font-size: 20pt;
    padding: 10px;
    color:black;
}

#fa {
  font-size: 25pt;
    padding: 10px;
    color:rgb(255, 255, 255);
}

.txtNome {
    padding-top: 15px;
}


/*Perfil:*/

.padding{
    padding: 35px 50px;
}

.card{
    border: none;
    background-color: #FFBC42;
    border-radius: 30px;
    box-shadow: 0px 4px 7px 0px rgba(59, 45, 45, 0.50);
    font-weight: 500;
    font-size: 20px;
    /*width: 200px;*/
}


.tam{
    height: 150px;
    width: 150px;
    margin: 0 auto;

}

/*lista Temas:*/

.tam2{

    height: 70px;
    width: 70px;

}

.img-perfil{
    border-radius:50%;
    width: 170px;
    
}
