/* POSTAGENS: */

.btn-azul {
    background-color: #006BA6;
    border-radius: 30px;
    box-shadow: 0px 4px 7px 0px rgba(51, 39, 39, 0.5);
    font-weight: 550;
    font-size: 17px;
    width: 190px;
    height: 45px;
}

.redondo{
    border-radius: 50px;
}

.card-centro {
    border: none;
    background-color: #E5E5E5;
    border-radius: 30px;
    box-shadow: 0px 4px 7px 0px rgba(59, 45, 45, 0.50);
    font-weight: 500;
    font-size: 20px;
    box-sizing: border-box;
    word-wrap: break-word;
}

.tam2 {
    height: 70px;
    width: 70px;
}

.card-body .redondo{
    border-radius: 30px;
}

.tx {
    font-size: 15px;
}

.fa {
    font-size: 20pt;
    padding: 10px;
    color: black;
}


.txtNome {
    padding-top: 15px;
}

/* POSTAGENS: */

/* PERFIL: */
#fa{
    font-size: 20pt;
    padding: 10px;
    color:rgb(255, 255, 255);
}

.padding {
    padding: 35px 50px;
}

.card {
    border: none;
    background-color: #E5E5E5;
    border-radius: 30px;
    box-shadow: 0px 4px 7px 0px rgba(59, 45, 45, 0.50);
    font-weight: 500;
    font-size: 20px;
    /*width: 200px;*/
    box-sizing: border-box;
    word-wrap: break-word;
}

.tam{

    height: 150px;
    width: 150px;
    margin: 0 auto;
}

.bg-nav{
    background-color: #FF9C05;
}

.bg-nav:hover{
    background-color: #006BA6;
}

.img-perfil{
    border-radius:50%;
    width: 150px;
    border: solid #E5E5E5 2px;
    padding: 0;
}

.bg-capa{

    background-size: cover;
    padding-top: 0;
    margin-top: 0;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 100px;
    /* height: 33%; */
}
/* PERFIL: */

/* MODAL POSTAGEM: */

.btn-amarelo {
    background-color: #FF9C05;
    border-radius: 30px;
    box-shadow: 0px 4px 7px 0px rgba(59, 45, 45, 0.50);
    color: #ffffff;
}

.btn-azul2 {
    background-color: #006BA6;
    border-radius: 30px;
    box-shadow: 0px 4px 7px 0px rgba(59, 45, 45, 0.50);
    color: #ffffff;
}




/* botão */
.btn-amarelo {
  background-color: #FF9C05;
  border-radius: 30px;
  box-shadow: 0px 4px 7px 0px rgba(59, 45, 45, 0.50);
  color: #ffffff;
}

.btn-azul2 {
  background-color: #006BA6;
  border-radius: 30px;
  box-shadow: 0px 4px 7px 0px rgba(59, 45, 45, 0.50);
  color: #ffffff;
}




