<div class="container-fluid bg-light">
    <!--MENU-->
    <div class="row bg-light d-flex align-items-end">
        <div class="col-md-3 d-flex justify-content-center mb-2">
            <img class="img-fluid p-3" src="https://i.imgur.com/9fYXzjA.png
            " alt="" height="250px" width="250px">
        </div>
        <div class="col-md-6 d-flex justify-content-between"> 
                <button class="btn btn-azul text-light">Nova Postagem</button>
                <button class="btn btn-azul text-light">Editar Postagem</button>
                <button class="btn btn-azul text-light">Ordenar</button>
        </div>
        <div class="col-md-3"></div>
    </div>
    <!--MENU-->
    <div class="row mt-1 bg-light">

        <!--Card ESQUERDA-->

        <div class="col-md-3 padding">
            <div class="row align-items-start d-flex justify-content-center">
                <div class="card">
                    <div class="row mt-3">
                        <img src="https://i.imgur.com/jVFmnOS.png
                        " class="card-img-top img-fluid tam"  alt="..." style="border-radius: 50%;">
                    </div>
                    <div class="card-body">
                      <h5 class="card-title text-center">Vinicius Martins</h5>
                      <p class="card-title text-center">Devenvolvedor Full Stack</p>
                   
                        <p class=" d-flex justify-content-center align-items-center">
                            <a href="https://github.com/viniciusmartins21" target="_blank" class="iconGithub">
                                <i class="fa fa-github" aria-hidden="true"></i>
                            </a>
                            200 amigos
                        </p>
                        <p class=" d-flex justify-content-center">
                            <a href="https://www.linkedin.com/in/vinicius-martins-713289125/" target="_blank" class="iconLinkedin">
                                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                            </a>
                        </p>
                    </div>
                  </div>
                  
            </div>
            <div class="row d-flex justify-content-center mt-3">
                <button class="btn btn-azul text-light"> 
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    Editar Perfil
                </button>
            </div>
        </div>

        <!--Corpo CENTRO-->

            <div class="col-md-6 align-items-center bg-light">

                <div class="row centro h-100 p-4">

                    <div class="row col-md-5">
                        <div class="col-md-4">
                            <img src="https://i.imgur.com/t5MZZTy.png" class="card-img-top img-fluid tam2" style="border-radius: 50%;">
                        </div>
                        <div class="col-md-8 card-body">
                            <h5 class="tx-esq"><b>Vinicius Martins</b></h5>
                            <h5 class="tx-esq">Devenvolvedor Full Stack</h5>
                        </div>
                    </div>

                    <div class="bg-light" style="border-radius: 30px;" >
                        <h2 class="text-center mt-5 mb-4">Melhores livros de biologia para crianças</h2>
                        <img class="img-fluid" src="https://i.imgur.com/r0NDfXY.jpg" width="100%">
                        <p class="text-justify m-4">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt architecto maxime neque, at nesciunt error eos reiciendis fugiat! Quae illum, officia praesentium quam autem dolore optio reiciendis repudiandae repellat aliquid eveniet nostrum voluptatibus qui consequuntur soluta quidem totam, ex harum voluptates iusto doloremque similique. Officiis sit enim doloremque expedita ducimus?
                        </p>
                    </div>

                    <div class="d-flex col-md-12 d-flex justify-content-center">
                        <a href="" target="_blank" class="p-3">
                          <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                        </a>
                  
                        <a href="" target="_blank" class="p-3">
                          <i class="fa fa-commenting" aria-hidden="true"></i> 
                        </a>
                  
                        <a href="" target="_blank" class="p-3">
                          <i class="fa fa-share" aria-hidden="true"></i>
                        </a>
                  </div>


                </div>

            </div>
            

        <!--/Corpo CENTRO-->

        <!--Amigos DIREITA-->

        <div class="col-md-3 padding">
            <div class="row align-items-start d-flex justify-content-center">
                <div class="card">
                    <div class="row p-3 pt-5 pb-4 text-center">
                        <p>Adicionar mais amigos</p>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <img src="https://i.imgur.com/t5MZZTy.png" class="card-img-top img-fluid tam2" style="border-radius: 50%;">
                        </div>
                        <div class="col-md-8 card-body">
                            <h5 class="tx-esq"><b>Vinicius Martins</b></h5>
                            <h5 class="tx-esq">Professor chavier</h5>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <img src="https://i.imgur.com/t5MZZTy.png" class="card-img-top img-fluid tam2" style="border-radius: 50%;">
                        </div>
                        <div class="col-md-8 card-body">
                            <h5 class="tx-esq"><b>Vinicius Martins</b></h5>
                            <h5 class="tx-esq">Devenvolvedor Full Stack</h5>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <img src="https://i.imgur.com/t5MZZTy.png" class="card-img-top img-fluid tam2" style="border-radius: 50%;">
                        </div>
                        <div class="col-md-8 card-body">
                            <h5 class="tx-esq"><b>Vinicius Martins</b></h5>
                            <h5 class="tx-esq">Devenvolvedor Full Stack</h5>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <img src="https://i.imgur.com/t5MZZTy.png" class="card-img-top img-fluid tam2" style="border-radius: 50%;">
                        </div>
                        <div class="col-md-8 card-body">
                            <h5 class="tx-esq"><b>Vinicius Martins</b></h5>
                            <h5 class="tx-esq">Devenvolvedor Full Stack</h5>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <img src="https://i.imgur.com/t5MZZTy.png" class="card-img-top img-fluid tam2" style="border-radius: 50%;">
                        </div>
                        <div class="col-md-8 card-body">
                            <h5 class="tx-esq"><b>Vinicius Martins</b></h5>
                            <h5 class="tx-esq">Devenvolvedor Full Stack</h5>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <img src="https://i.imgur.com/t5MZZTy.png" class="card-img-top img-fluid tam2" style="border-radius: 50%;">
                        </div>
                        <div class="col-md-8 card-body">
                            <h5 class="tx-esq"><b>Vinicius Martins</b></h5>
                            <h5 class="tx-esq">Devenvolvedor Full Stack</h5>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <img src="https://i.imgur.com/t5MZZTy.png" class="card-img-top img-fluid tam2" style="border-radius: 50%;">
                        </div>
                        <div class="col-md-8 card-body">
                            <h5 class="tx-esq"><b>Vinicius Martins</b></h5>
                            <h5 class="tx-esq">Devenvolvedor Full Stack</h5>

                        </div>
                    </div>
         
                </div>
                  
            </div>
        </div>
      
    </div>

</div>
