<!--CONTEINER GLOBAL-->
<div class="container-fluid bg-light">

  <!--2ªLINHA - CARDS-CONTAINER(perfil, postagens, lista de temas)-->
  <div class="row mt-1 bg-light">


    <!--COL - CARD PERFIL - ESQUERDA-->
    <div class="col-md-3 padding">

      <div class=" d-flex justify-content-center mb-4 mt-4 me-4" id="logo-principal">
        <img class="img-fluid p-3" src="https://i.imgur.com/9fYXzjA.png
                " alt="" height="250px" width="250px">
      </div>
      <div class="row  d-flex justify-content-center">
        <div class="card p-0 pb-0">


          <div class="bg-capa" style="background-image: url('{{fotoCapa}}')">
            <div class="row ">


              <img src="{{foto}}" class="card-img-top img-fluid tam mt-3 mb-2 img-perfil" alt="...">
            </div>
          </div>
          <div class="card-body pt-5 mt-3 pb-0">
            <h5 class="card-title text-center mt-3 mb-2"> {{nome}} </h5>

            <p class="card-title text-center mb-2">{{profissao}}</p>

          </div>
        </div>

      </div>

      <div class="row d-flex justify-content-center mt-3">
        <button class="btn btn-azul text-light justify-content-center align-items-center d-flex mt-3"
          data-bs-toggle="modal" data-bs-target="#novaPostagem">
          Nova Postagem
        </button>
      </div>

      <div class="row d-flex justify-content-center">
        <button class="btn btn-azul text-light justify-content-center align-items-center d-flex mt-2"
          routerLink='/tema'>
          Adicionar Tema
        </button>
      </div>

      <div class="row d-flex justify-content-center">
        <button class="btn btn-azul text-light justify-content-center align-items-center d-flex mt-2"
          [routerLink]="['/user-edit', idUser]">
          <i class="fa fa-pencil-square-o" id="fa" aria-hidden="true"> </i>
          <p class="text-white text-center mt-3 ">Editar Perfil</p>
        </button>

      </div>

    </div>
    <!--COL - CARD PERFIL - ESQUERDA-->

    <!--COL - CARDS DE POSTAGENS - CENTRO-->
    <div class="col-md-6">
      <div class="container mb-5 mt-5 pt-5" id="postagem">

        <!--MENU DE NAVEGAÇÃO POSTAGENS-->
        <nav>
          <div class="nav nav-pills nav-fill" id="nav-tab" role="tablist">



            <button class="nav-link active text-white bg-nav redondo btn-azul" id="nav-todasPostagens-tab"
              data-bs-toggle="tab" data-bs-target="#nav-todasPostagens" type="button" role="tab"
              aria-controls="nav-todasPostagens" aria-selected="true">
              Todas as Postagens
            </button>

            <button (click)='findByIdUser()' class="nav-link text-white bg-nav me-2 ms-2 redondo btn-azul"
              id="nav-minhasPostagens-tab" data-bs-toggle="tab" data-bs-target="#nav-minhasPostagens" type="button"
              role="tab" aria-controls="nav-minhasPostagens" aria-selected="false">
              Minhas Postagens
            </button>

            <button class="nav-link text-white bg-nav redondo btn-azul" id="nav-postagemTema-tab" data-bs-toggle="tab"
              data-bs-target="#nav-postagemTema" type="button" role="tab" aria-controls="nav-postagemTema"
              aria-selected="false">
              Postagem por tema
            </button>

          </div>
        </nav>
        <!--MENU DE NAVEGAÇÃO POSTAGENS-->

        <!--CONTEUDO DE LINK com MENU DE NAVEGAÇÃO - NAV-CONTENT-->
        <div class="tab-content" id="nav-tabContent">

          <!--CONTEÚDO TODAS AS POSTAGENS-->
          <div class="tab-pane fade show active" id="nav-todasPostagens" role="tabpanel"
            aria-labelledby="nav-todasPostagens-tab">

            <div class="row d-flex justify-content-center mt-5 mb-5">
              <div class="col-md-8">
                <div class="form-group">
                  <input type="text" class="form-control" id="titulo"
                    placeholder="Digite um título de uma postagem para pesquisar" [(ngModel)]='tituloPost'
                    (keyup)='findByTituloPostagem()'>
                </div>
              </div>
            </div>

            <div class="card-columns">

              <div class="card-centro mt-5" *ngFor='let item of listaPostagens | orderBy : key : reverse'>

                <div class="row col-md-12">

                  <div class="col-md-1">
                  </div>
                  <div class="col-md-1">
                    <img src="{{item.usuario.foto}}" alt="imagem user" width="70px" height="70px"
                      class=" rounded-circle mt-4">
                  </div>
                  <div class="col-md-10 card-body pt-4">
                    <h5 class="tx ms-4"><b>{{item.usuario.nome}}</b></h5>
                    <h5 class="tx ms-4">Tema: {{item.tema.disciplinaTema}}</h5>
                    <h5 class="tx text-muted ms-4">{{item.dataPostagem | date: 'dd/MM/yyyy'}} às
                      {{item.dataPostagem | date: 'HH:mm'}}</h5>
                  </div>

                </div>

                <div class="card-body text-center bg-light me-3 ms-3">

                  <h4 class="card-title mt-4 mb-2"><b>{{item.titulo}}</b></h4>

                  <img src="{{item.foto}}" width="100%" height="300px" *ngIf="item.foto != null ">

                  <iframe width="100%" height="300px" [src]="item.video" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen *ngIf="item.video != null "></iframe>

                  <p class="card-text mt-4 mb-4">{{item.descricao}}</p>

                </div>

                <div class="d-flex col-md-12 d-flex justify-content-center">

                  <!--Comentarios -->
                  <div class="accordion" [attr.id]="'comentarioPostagem' + item.id">

                    <div class="mt-2" id="headingTwo">
                      <h5 class="mb-0">
                        <button (click)='findAllComentario()' class="btn btn-link collapsed text-dark" type="button"
                          data-bs-toggle="collapse" [attr.data-bs-target]="'#' + 'comentButtonPostagemId' + item.id"
                          aria-expanded="false" aria-controls="collapseTwo">
                          <p class="text-primary font-weight-bold mb-2">
                            <i class="fa fa-commenting-o" aria-hidden="true"></i>
                          </p>
                        </button>
                      </h5>
                    </div>

                    <div [attr.id]="'comentButtonPostagemId' + item.id" class="collapse" aria-labelledby="headingTwo"
                      [attr.data-parent]="'#' + 'comentarioPostagem' + item.id">

                      <div class="row mb-3">
                        <div class="col d-flex justify-content-center align-items-center p-4">
                          <img class="rounded-circle mr-3" src={{foto}} width="30px" height="30px" />
                          <div class="input-group w-100">
                            <input type="text" class="form-control mr-2 ms-2" placeholder="Digite aqui seu comentário"
                              aria-label="Recipient's username" aria-describedby="button-addon2"
                              [(ngModel)]='comentario.comentario' id='inputComentario'>
                            <div class="input-group-append">
                              <button class="btn btn-amarelo ms-2" (click)='comentar(item.id)'
                                id="button-addon2">Comentar</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row d-flex justify-content-center"
                        *ngFor='let coment of item.comentario | orderBy : key : reverse'>
                        <div class="col-md-11">
                          <div class="card mb-3 shadow border-0 rounded">
                            <div class="card-body">
                              <div class="row">
                                <div class="col d-flex justify-content-start">
                                  <p> <img class=rounded-circle src={{coment.usuario.foto}} width="30px"
                                      height="30px" />
                                    {{coment.usuario.nome}} comentou: </p>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col">
                                  <p class="card-text ml-4" aria-describedby="texto">{{coment.comentario}}
                                  </p>
                                </div>
                              </div>

                              <hr>

                              <div class="d-flex justify-content-end">
                                <small id="texto" class="form-text m-0 text-muted text-monospace">
                                  Comentado em {{ coment.data | date:'dd/MM/yyyy'}} às {{coment.data |
                                  date:'HH:mm'}}
                                </small>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--/Comentarios-->

                  <!-- <a href="" target="_blank" class="p-3">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                  </a>

                  <a href="" target="_blank" class="p-3">
                    <i class="fa fa-commenting" aria-hidden="true"></i>
                  </a>

                  <a href="" target="_blank" class="p-3">
                    <i class="fa fa-share" aria-hidden="true"></i>
                  </a> -->

                </div>

              </div>

            </div>

          </div>
          <!--CONTEÚDO TODAS AS POSTAGENS-->

          <!--CONTEÚDO MINHAS POSTAGENS-->
          <div class="tab-pane fade" id="nav-minhasPostagens" role="tabpanel" aria-labelledby="nav-minhasPostagens-tab">

            <div class="card-columns">

              <div class="card-centro mt-5" *ngFor='let item of user.postagem | orderBy : key : reverse'>

                <div class="row col-md-12">

                  <div class="col-md-1">
                  </div>

                  <div class="col-md-7 card-body pt-5">
                    <h5 class="tx">Tema: {{item.tema.disciplinaTema}}</h5>
                    <h5 class="tx text-muted">{{item.dataPostagem | date: 'dd/MM/yyyy'}} às
                      {{item.dataPostagem | date: 'HH:mm'}}</h5>
                  </div>
                  <div class="col-md-4 pt-5 d-flex justify-content-center">
                    <a [routerLink]="['/postagem-edit', item.id]" class="ms-5" href="">
                      <i class="fa fa-pencil text-primary" aria-hidden="true"></i>
                    </a>
                    <a [routerLink]="['/postagem-delete', item.id]" href="">
                      <i class="fa fa-trash-o text-danger" aria-hidden="true"></i>
                    </a>
                  </div>

                </div>

                <div class="card-body text-center bg-light me-3 ms-3">

                  <h4 class="card-title mt-4 mb-2"><b>{{item.titulo}}</b></h4>

                  <img src="{{item.foto}}" width="100%" height="300px" *ngIf="item.foto != null ">

                  <iframe width="100%" height="300px" [src]="item.video" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen *ngIf="item.video != null "></iframe>

                  <p class="card-text mt-4 mb-4">{{item.descricao}}</p>

                </div>

                <div class="d-flex col-md-12 d-flex justify-content-center">

                  <!--Comentarios -->
                  <div class="accordion" [attr.id]="'comentarioPostagem' + item.id">

                    <div class="mt-2" id="headingTwo">
                      <h5 class="mb-0">
                        <button (click)='findAllComentario()' class="btn btn-link collapsed text-dark" type="button"
                          data-bs-toggle="collapse" [attr.data-bs-target]="'#' + 'comentButtonPostagemId' + item.id"
                          aria-expanded="false" aria-controls="collapseTwo">
                          <p class="text-primary font-weight-bold mb-2">
                            <i class="fa fa-commenting-o" aria-hidden="true"></i>
                          </p>
                        </button>
                      </h5>
                    </div>

                    <div [attr.id]="'comentButtonPostagemId' + item.id" class="collapse" aria-labelledby="headingTwo"
                      [attr.data-parent]="'#' + 'comentarioPostagem' + item.id">

                      <div class="row mb-3">
                        <div class="col d-flex justify-content-center align-items-center p-4">
                          <img class="rounded-circle mr-3 ms-2" src={{foto}} width="30px" height="30px" />
                          <div class="input-group w-100">
                            <input type="text" class="form-control mr-2" placeholder="Digite aqui seu comentário"
                              aria-label="Recipient's username" aria-describedby="button-addon2"
                              [(ngModel)]='comentario.comentario' id='inputComentario'>
                            <div class="input-group-append">
                              <button class="btn btn-amarelo ms-2" (click)='comentar(item.id)'
                                id="button-addon2">Comentar</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row d-flex justify-content-center"
                        *ngFor='let coment of item.comentario | orderBy : key : reverse'>
                        <div class="col-md-11">
                          <div class="card mb-3 shadow border-0 rounded">
                            <div class="card-body">
                              <div class="row">
                                <div class="col d-flex justify-content-start">
                                  <p> <img class=rounded-circle src={{coment.usuario.foto}} width="30px"
                                      height="30px" />
                                    {{coment.usuario.nome}} comentou: </p>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col">
                                  <p class="card-text ml-4" aria-describedby="texto">{{coment.comentario}}
                                  </p>
                                </div>
                              </div>

                              <hr>

                              <div class="d-flex justify-content-end">
                                <small id="texto" class="form-text m-0 text-muted text-monospace">
                                  Comentado em {{ coment.data | date:'dd/MM/yyyy'}} às {{coment.data |
                                  date:'HH:mm'}}
                                </small>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--/Comentarios-->

                </div>

              </div>

            </div>
          </div>
          <!--CONTEÚDO MINHAS POSTAGENS-->

          <!--CONTEÚDO POSTAGEM POR TEMA-->
          <div class="tab-pane fade" id="nav-postagemTema" role="tabpanel" aria-labelledby="nav-postagemTema-tab">

            <div class="row d-flex justify-content-center mt-5 mb-5">
              <div class="col-md-8">
                <div class="form-group">
                  <input type="text" class="form-control" id="titulo" placeholder="Digite um tema para pesquisar"
                    [(ngModel)]='nomeTema' (keyup)='findByNomeTema()'>
                </div>
              </div>
            </div>

            <div class="card-columns" *ngFor='let tema of listaTemas | orderBy : key : reverse'>
              <div class="card-centro mt-5" *ngFor='let item of tema.postagem | orderBy : key : reverse'>

                <div class="row col-md-12">

                  <div class="col-md-1">
                  </div>

                  <div class="col-md-1 mb-4">
                    <img src="{{item.usuario.foto}}" alt="imagem user" width="70px" height="70px"
                      class=" rounded-circle mt-4">
                  </div>

                  <div class="col-md-10 card-body pt-4">
                    <h5 class="tx txtNome ms-4"><b>{{item.usuario.nome}}</b></h5>
                    <h5 class="tx text-muted ms-4">{{item.dataPostagem | date: 'dd/MM/yyyy'}} às
                      {{item.dataPostagem | date: 'HH:mm'}}</h5>
                  </div>


                </div>

                <div class="card-body text-center bg-light me-3 ms-3">

                  <h4 class="card-title mt-4 mb-2"><b>{{item.titulo}}</b></h4>

                  <img src="{{item.foto}}" width="100%" height="300px" *ngIf="item.foto != null ">

                  <iframe width="100%" height="300px" [src]="item.video" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen *ngIf="item.video != null "></iframe>

                  <p class="card-text mt-4 mb-4">{{item.descricao}}</p>

                </div>

                <div class="d-flex col-md-12 d-flex justify-content-center">

                  <!--Comentarios -->
                  <div class="accordion" [attr.id]="'comentarioPostagem' + item.id">

                    <div class="mt-2" id="headingTwo">
                      <h5 class="mb-0">
                        <button (click)='findAllComentario()' class="btn btn-link collapsed text-dark" type="button"
                          data-bs-toggle="collapse" [attr.data-bs-target]="'#' + 'comentButtonPostagemId' + item.id"
                          aria-expanded="false" aria-controls="collapseTwo">
                          <p class="text-primary font-weight-bold mb-2">
                            <i class="fa fa-commenting-o" aria-hidden="true"></i>
                          </p>
                        </button>
                      </h5>
                    </div>

                    <div [attr.id]="'comentButtonPostagemId' + item.id" class="collapse" aria-labelledby="headingTwo"
                      [attr.data-parent]="'#' + 'comentarioPostagem' + item.id">

                      <div class="row mb-3">
                        <div class="col d-flex justify-content-center align-items-center p-4">
                          <img class="rounded-circle mr-3 ms-2" src={{foto}} width="30px" height="30px" />
                          <div class="input-group w-100">
                            <input type="text" class="form-control mr-2" placeholder="Digite aqui seu comentário"
                              aria-label="Recipient's username" aria-describedby="button-addon2"
                              [(ngModel)]='comentario.comentario' id='inputComentario'>
                            <div class="input-group-append">
                              <button class="btn btn-amarelo ms-2" (click)='comentar(item.id)'
                                id="button-addon2">Comentar</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row d-flex justify-content-center"
                        *ngFor='let coment of item.comentario | orderBy : key : reverse'>
                        <div class="col-md-11">
                          <div class="card mb-3 shadow border-0 rounded">
                            <div class="card-body">
                              <div class="row">
                                <div class="col d-flex justify-content-start">
                                  <p> <img class=rounded-circle src={{coment.usuario.foto}} width="30px"
                                      height="30px" />
                                    {{coment.usuario.nome}} comentou: </p>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col">
                                  <p class="card-text ml-4" aria-describedby="texto">{{coment.comentario}}
                                  </p>
                                </div>
                              </div>

                              <hr>

                              <div class="d-flex justify-content-end">
                                <small id="texto" class="form-text m-0 text-muted text-monospace">
                                  Comentado em {{ coment.data | date:'dd/MM/yyyy'}} às {{coment.data |
                                  date:'HH:mm'}}
                                </small>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--/Comentarios-->

                </div>
              </div>

            </div>

          </div>
          <!--CONTEÚDO POSTAGEM POR TEMA-->

        </div>
        <!--CONTEUDO DE LINK com MENU DE NAVEGAÇÃO - NAV-CONTENT-->

      </div>
    </div>
    <!--COL - CARDS DE POSTAGENS - CENTRO-->

    <!--COL - CARD LISTA DE TEMAS - DIREITA-->
    <div class="col-md-3 padding mt-5 pt-5">

      <div class="row align-items-start d-flex justify-content-center">
        <div class="card pt-3">

          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Temas já cadastrados</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let tema of listaTemas'>
                <td>{{tema.disciplinaTema}}</td>
              </tr>
            </tbody>
          </table>

        </div>

      </div>
    </div>
    <!--COL - CARD LISTA DE TEMAS - DIREITA-->

  </div>
  <!--2ªLINHA - CARDS-CONTAINER(perfil, postagens, lista de temas)-->

</div>
<!--FIM DO CONTEINER GLOBAL-->

<!-- MODAL NOVA POSTAGEM -->
<div class="modal fade" id="novaPostagem" tabindex="-1" aria-labelledby="novaPostagem" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tituloModalCentralizado">Nova Postagem</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="forma-group">
          <label for="titulo">Título</label>
          <input [(ngModel)]='postagem.titulo' type="text" class="form-control" id="titulo"
            placeholder="Digite o titulo">
        </div>

        <div class="forma-group">
          <label for="texto">Texto</label>
          <textarea [(ngModel)]='postagem.descricao' class="form-control" name="texto" id="texto" rows="3"></textarea>
        </div>

        <div class="forma-group">
          <label for="titulo">Mídia</label>
          <input [(ngModel)]='postagem.midia' type="text" class="form-control" id="midia"
            placeholder="Informe o link da midia">
        </div>

        <div class="forma-group">
          <label for="tema">Escolha um tema ou <a routerLink="/tema" data-bs-dismiss="modal">Cadastre um
              novo</a></label>
          <select class="form-control" name="tema" id="tema" [(ngModel)]='idTema' (change)='findByIdTema()'>
            <option *ngFor='let item of listaTemas' value="{{item.id}}">
              {{item.disciplinaTema}}
            </option>
          </select>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-amarelo" data-bs-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-azul2" (click)='publicar()' data-bs-dismiss="modal">Publicar</button>
      </div>
    </div>
  </div>
</div>
<!-- MODAL NOVA POSTAGEM -->