<div class="container-fluid" id="bg-inicio" >
    <div class="container d-flex justify-content-center mt-5 pt-5" id="inicio">
        <div class="row d-flex align-items-center" >

            <div class="col-md-6" >
                <img class="img-fluid" src="https://i.imgur.com/8mOl96k.png" alt="Ilustração de uma pessoa usando celular" width="600px"
                    height="600px">
            </div>

            <div class="col-md-6">
                <div>
                    <h2 class="text-center">Faça parte da Magister! Você encontrará colegas de profissão incríveis para
                        trocar ideias!</h2>
                </div>
                <div class="text-center mt-5 mb-5">
                    <button class="btn btn-amarelo " routerLink='/cadastro'>Cadastrar-se</button>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="container d-flex justify-content-center mt-4" id="ods">
        <div class="row d-flex align-items-center">
            <div class="col-md-6">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-12 d-flex align-items-center" >
                        <div>
                            <img class="img-fluid" src="https://i.imgur.com/kmEWELD.png" alt="Logo da ONU" width="100px" height="100px">
                        </div>
                        <h2 class="text-center ms-2">ODS 4: Educação de Qualidade</h2>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="text-center mt-4 mb-5">A ODS 4 da ONU visa assegurar a educação inclusiva e equitativa e de qualidade, e promover oportunidades de aprendizagem ao longo da vida para todos. E um dos caminhos para melhorar a educação é aumentar o contingente de professores qualificados.</h5>
                        </div>
                    </div>

                </div>
            </div>


            <div class="col-md-6">
                <div>
                    <img class="img-fluid" src="https://i.imgur.com/duF9csf.png" alt="Ilustração de pessoas unindo as mãos" width="600px"
                        height="600px">
                </div>

            </div>



        </div>
    </div>
</div>