#bg-inicio{
    background-image: url('https://i.imgur.com/YWOUBUo.jpg');

    min-height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-amarelo{
    background-color: #FF9C05;
    border-radius: 30px;
    box-shadow: 0px 4px 7px 0px rgba(59, 45, 45, 0.50);
    font-weight: 500;
    font-size: 20px;
    width: 200px;
}