.banner{
    background-image: url('https://i.imgur.com/memoGWv.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

.f-70{
    font-size: 70px;
}

.btn-azul{
    background-color: #006BA6;
    border-radius: 30px;
    box-shadow: 0px 4px 7px 0px rgba(59, 45, 45, 0.50);
}

.btn-amarelo{
    background-color: #FF9C05;
    border-radius: 30px;
    box-shadow: 0px 4px 7px 0px rgba(59, 45, 45, 0.50);
}

.bg-text{
    border-radius: 30px;
    padding: 55px 0;
    background-color: #FFBC42;
}

.form-width{

    width: 80%;

}