<div class="fundo-integrantes" id="integrantes">
  <div class="container ">
    <h2 class="text-center pt-3">Integrantes</h2>
    <div class="row row-cols-1 row-cols-md-4 g-4 mt-2 ">

      <!-- guilherme -->
      <div class="col mb-5">
        <div class="card ">
          <div class="row me-2 ms-2 mt-3 d-flex justify-content-center">
            <img src="https://i.imgur.com/xM2uh0W.png" class="card-img-top" alt="...">
          </div>
          <div class="card-body ">
            <h5 class="card-title text-center">Guilherme Monteiro</h5>
            <p class="card-title text-center">Devenvolvedor Full Stack</p>
            <div class="redes d-flex justify-content-center">
              <a href="https://github.com/GuiMonLopes" target="_blank" class="iconGithub">
                <i class="fa fa-github" aria-hidden="true"></i>
              </a>
              <a href="https://www.linkedin.com/in/guilherme-monteiro-lopes/" target="_blank" class="iconLinkedin">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Jessica -->
      <div class="col mb-5">
        <div class="card">
          <div class="row me-2 ms-2 mt-3">
            <img src="https://i.imgur.com/sKXMQxT.png" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Jessica Toyota</h5>
            <p class="card-title text-center">Devenvolvedora Full Stack</p>
            <div class="redes d-flex justify-content-center">
              <a href="https://github.com/jeytoyota" target="_blank" class="iconGithub">
                <i class="fa fa-github" aria-hidden="true"></i>
              </a>
              <a href="https://www.linkedin.com/in/jessica-toyota-9281b31b0/" target="_blank" class="iconLinkedin">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- matheus -->
      <div class="col mb-5">
        <div class="card">
          <div class="row me-2 ms-2 mt-3">
            <img src="https://i.imgur.com/jVFmnOS.png" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Mateus Oliveira</h5>
            <p class="card-title text-center">Devenvolvedor Full Stack</p>
            <div class="redes d-flex justify-content-center">
              <a href="https://github.com/wateos" target="_blank" class="iconGithub">
                <i class="fa fa-github" aria-hidden="true"></i>
              </a>
              <a href="https://www.linkedin.com/in/mateus-oliveira-415856155/" target="_blank" class="iconLinkedin">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>


      <!-- vinicius -->
      <div class="col mb-5">
        <div class="card">
          <div class="row me-2 ms-2 mt-3">
            <img src="https://i.imgur.com/aclyKZK.png" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Vinicius Martins</h5>
            <p class="card-title text-center">Devenvolvedor Full Stack</p>
            <div class=" d-flex justify-content-center">
              <a href="https://github.com/viniciusmartins21
              " target="_blank" class="iconGithub">
                <i class="fa fa-github" aria-hidden="true"></i>
              </a>
              <a href="https://www.linkedin.com/in/vinicius-martins-713289125/
              " target="_blank" class="iconLinkedin">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>