<div class="bg-cor">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mt-4">
          <h5 class="mb-4">Tecnologias utilizadas:</h5>
        <div class=" logos d-flex flex-row">
          <img src="https://i.imgur.com/10xTR6v.png" class="me-3" alt="">
          <img src="https://i.imgur.com/oxPD1BV.png" class="me-3" alt="">
          <img src="https://i.imgur.com/OvVyGzu.png" class="me-3" alt="">
          <img src="https://i.imgur.com/Mmvlr6K.png" class="me-3" alt="">
        </div>
        <div class=" logos d-flex flex-row mt-3 mb-4">
          <img src="https://i.imgur.com/Les9GcX.png" class="me-3" alt="">
          <img src="https://i.imgur.com/qx3KFHn.png" class="me-3" alt="">
          <img src="https://i.imgur.com/9yC3NLH.png" class="me-3" alt="">
          <img src="https://i.imgur.com/ReoouYK.png" class="me-3" alt="">
        </div>
      </div>
      <div class="col">
        <div class="row d-flex justify-content-end mt-2">
          <img src="https://i.imgur.com/kEx5vkl.png?1" class="img-rodape" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="page-footer font-small bg-footer pt-2">
    <div class="container">
      
      <div class="">
        <div class="col-md-12 d-flex justify-content-center">
          
            <div class="footer-copyright  text-center text-light py-3 ">
              <span>@ 2021 Copyright:</span>
              <a class="text-light" target="_blank" href="https://github.com/viniciusmartins21/magisterNetwork"> 4Devs</a>
            </div>
        </div>
      </div>
  
    </div>
  
  </footer>
